* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #575757;
	font-weight: 400;
}
img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3 {
	color: #050505;
	font-weight: 700;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
p {
	color: #575757;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #575757;
	font-weight: 600;
}
.fas {
	font-size: 18px;
	color: #050505;
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.full-height-container {
	height: 100%;
	width: 100%;
}
.page {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #fff;
	flex: 1;
}
.footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #f2f2f2;
}
.page__content {
	padding: 0 50px 60px;
	width: 75%;
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.footer__container {
	display: flex;
	width: 75%;
	padding: 50px;
	gap: 16%;
}
.header {
	height: 180px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.logo-nav__container {
	display: flex;
	height: 130px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.logo {
	width: 65px;
	height: 45px;
}

.nav__ul {
	display: flex;
	gap: 35px;
	list-style: none;
	font-size: 16px;
}
.nav__li {
	position: relative;
}
.nav__li:last-child {
	padding-right: 15px;
}
a.nav__a {
	color: #575757;
	padding: 50px 12px 20px;
	border-top: 3px solid #fff;
	list-style: none;
}

a.nav__a--clicked {
	color: #0065fc;
	border-color: #0065fc;
}
.title {
	display: flex;
	flex-direction: column;
	/* gap: 4px; */
}
.title__p {
	padding-top: 6px;
	font-weight: 700;
}
.search {
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.search__form {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.search__button {
	display: flex;
	height: 35px;
	max-width: 265px;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
}
.search__input {
	border: none;
	height: 50px;
	width: 235px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	margin-left: -4px;
	padding: 0 13px;
	font-weight: 700;
	font-size: 18px;
	color: #050505;
}
.search__input::placeholder {
	color: #050505;
}
.search__icon {
	background-color: #f2f2f2;
	min-width: 50px;
	height: 50px;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.search__submit {
	border: none;
	background-color: #0065fc;
	color: white;
	min-width: 90px;
	height: 50px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	font-weight: 700;
	font-size: 18px;
	position: relative;
}
.search__mob {
	display: none;
}
.form__checkbox {
	display: flex;
	align-items: center;
	gap: 30px;
	font-size: 11px;
}
.checkbox__title {
	font-weight: 700;
	font-size: 16px;
	color: #050505;
}
.checkbox__inputs-container {
	display: flex;
	gap: 20px;
}
.checkbox__input-label-container {
	display: flex;
	/* width: 113px; */
	height: 48px;
	align-items: center;
	border-top: 3px solid #f2f2f2;
	border-bottom: 3px solid #f2f2f2;
	border-right: 3px solid #f2f2f2;
	border-radius: 30px;
}
.checkbox__input {
	visibility: hidden;
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	overflow: hidden;
}
.checkbox__new-input {
	width: 48px;
	height: 48px;
	background-color: #deebff;
	border: none;
	border-radius: 50%;
	transition: 1s all ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox__new-input .fas {
	color: #0065fc;
	font-size: 18px;
}
[type='checkbox']:checked + .checkbox__new-input {
	transform-origin: left;
	border-radius: 30px;
	opacity: 0.3;
}
.checkbox__label {
	height: 48px;
	display: flex;
	align-items: center;
	padding: 0 25px 0 15px;
	font-weight: 700;
	font-size: 16px;
	color: #050505;
}
.checkbox__result {
	display: flex;
	gap: 10px;
	width: 31%;
	color: #f2f2f2;
	align-items: baseline;
}
.result__icon {
	width: 26px;
	height: 26px;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
i.fa-info {
	width: 22px;
	height: 22px;

	color: #0065fc;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	display: flex;
	flex-direction: column;
	gap: 65px;
}
.content__first {
	padding-top: 15px;
	display: flex;
	gap: 27px;
}
.accommodations {
	width: 66%;
	height: auto;
	background-color: #f2f2f2;
	border-radius: 15px;
	padding: 33px 27px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.accommodations__cards {
	display: flex;
	flex-direction: column;
	gap: 33px;
}
.accommodations__cards-row {
	display: flex;
	gap: 33px;
}
.accommodations__p {
	color: #050505;
	font-weight: 700;
	font-size: 18px;
	padding-top: 10px;
}
.card {
	width: 30.6%;
	height: 200px;
	background-color: #fff;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	gap: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card--horizontal {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 145px;
}
.activities__card {
	width: 65px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.card__text-container {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-top: 5px;
	gap: 7px;
}
.card__text-horizontal {
	width: 60%;
	padding: 13px 13px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.card__text {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
div.card__img-container {
	height: 80px;
	width: 100%;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background-position: center;
	background-size: cover;
}

.card__img {
	height: 115px;
	width: 100%;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	object-fit: cover;
	object-position: center;
}
div.card__img-horizontal-container {
	height: 93px;
	width: 38%;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background-size: cover;
	background-position: center;
}

.card__img-horizontal {
	max-width: 38%;
	width: 100%;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	object-fit: cover;
	object-position: center;
}

.card__p {
	font-size: 14px;
}
.card__price {
	font-weight: 700;
}
.card__stars-container {
	display: flex;
	margin-top: -5px;
	gap: 2px;
}
.card__star .fas {
	color: #0065fc;
	font-size: 11px;
}
.card__star--grey .fas {
	color: #f2f2f2;
}
.popular {
	width: 32%;
	height: auto;
	background-color: #f2f2f2;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px 25px 20px;
}
.popular__header {
	display: flex;
	justify-content: space-between;
}
.popular__button {
	border: none;
	box-shadow: none;
	width: 19px;
}
.fa-chart-line {
	font-weight: 700;
	font-size: 22px;
}
.popular__cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.activities {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.activities__cards {
	height: 445px;
	width: 100%;
	display: flex;
	gap: 45px;
}
.card__img--activities {
	height: 100%;
	max-width: 100%;
}
.activities__short-cards-container {
	width: 27%;
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 45px;
}
.activities__card {
	width: 27%;
	height: 100%;
	border-radius: 12px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.activities__card--short {
	width: 100%;
}
.activities__card--165 {
	height: 180px;
}
.activities__card--115 {
	height: 110px;
}
.activities__card--135 {
	height: 140px;
}
.activities__card--145 {
	height: 150px;
}

.activities__text-container {
	display: flex;
	min-height: 55px;
	padding-left: 15px;
	align-items: center;
}

.footer__column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.footer__title {
	padding-bottom: 10px;
	font-size: 18px;
}
.footer__text {
	font-weight: 700;
}
@media only screen and (max-width: 1870px) {
	.page__content {
		width: 97%;
	}
	.footer__container {
		width: 97%;
	}
}
@media only screen and (max-width: 1536px) {
	.page__content {
		width: 98.4%;
	}
	.footer__container {
		width: 98.4%;
	}
}
@media only screen and (max-width: 1440px) {
	.page__content {
		width: 100%;
	}
	.footer__container {
		width: 100%;
	}
}
@media only screen and (max-width: 1420px) {
	.accommodations__cards {
		gap: 25px;
	}
}

@media only screen and (max-width: 1220px) {
	.page__content {
		width: 63%;
		gap: 30px;
		padding-bottom: 50px;
	}
	.footer__container {
		width: 63%;
		flex-direction: column;
		padding: 50px 77px 40px;
	}
	.header {
		gap: 30px;
		height: 250px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 14px;
	}
	.logo-nav__container {
		flex-direction: column;
	}
	.logo__container {
		display: flex;
		width: 100%;
		height: 95px;
		justify-content: center;
		align-items: center;
	}
	.logo {
		margin-top: 10px;
	}

	.nav__container {
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
	}
	.nav__ul {
		width: 100%;
		gap: 0;
	}
	.nav__li {
		width: 50%;
		text-align: center;
		padding: 33px 0 12px;
		border-bottom: 3.5px solid #f2f2f2;
	}
	.nav__li--clicked {
		border-color: #0065fc;
	}
	a.nav__a {
		padding: 30px 12px 20px;
		border-top: none;
		/* font-size: 30px; */
	}
	a.nav__a--clicked {
		color: #0065fc;
	}
	.title {
		gap: 10px;
	}
	.search__form {
		gap: 50px;
	}
	.title,
	.search {
		padding: 0 27px;
	}
	.search__screen {
		display: none;
	}
	.search__submit {
		min-width: 50px;
		border-radius: 30%;
		margin-left: -10px;
	}
	.search__mob {
		display: block;
	}
	.form__checkbox {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	.checkbox__inputs-container {
		flex-wrap: wrap;
	}
	.checkbox__result {
		width: 100%;
	}
	.content__first {
		flex-direction: column-reverse;
	}
	.cotent__first {
		gap: 0;
	}
	.accommodations {
		background-color: white;
		width: 100%;
		height: auto;
		padding: 10px 27px;
	}
	.accommodations__cards-row {
		flex-direction: column;
		gap: 20px;
	}
	.accomodations__cards {
		gap: 20px;
	}
	.popular {
		width: 100%;
		height: auto;
		border-radius: 0;
		padding: 40px 25px;
	}
	.popular__cards {
		gap: 12px;
	}
	.card {
		padding: 5px;
		height: 145px;
	}

	.card__img-horizontal {
		height: 100%;
	}

	.activities {
		width: 100%;
		height: auto;
		padding: 0 27px;
	}

	.card--vertical {
		width: 100%;
		height: 200px;
	}
	.activities__cards {
		flex-direction: column;
		height: auto;
		width: 100%;
		gap: 20px;
	}

	.activities__short-cards-container {
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	.activities__card {
		height: 190px;
		width: 100%;
	}
	.activities__short-cards-container {
		gap: 20px;
	}
	.card__img--activities {
		height: 135px;
	}
	.card__img {
		max-width: 100%;
	}
	.activities__text-container {
		height: 60px;
		padding-left: 25px;
	}
	.footer__column:not(:last-child) {
		padding-bottom: 40px;
	}
	.search__button {
		max-width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.page__content {
		width: 100%;
		padding: 0 0 50px;
	}

	.footer__container {
		width: 100%;
		padding: 50px 27px 40px;
	}
}
@media only screen and (max-width: 390px) {
	.search__icon,
	.search__submit {
		min-width: 20%;
	}
	.search__input {
		width: 60%;
		font-size: 16px;
	}
}
