* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #575757;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  color: #000;
  font-weight: 600;
}
p {
  color: #575757;
}
a {
  text-decoration: none;
  color: #222222;
  font-weight: 600;
}
.full-height-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
}
.page {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  flex: 1;
}
.page__content {
  padding: 0 35px;
  width: 992px;
}
.header {
  height: 135px;
}
.logo-nav__container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  width: 100%;
}
.logo {
  width: 45px;
  height: 29px;
}

.nav__ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 11px;
}
.nav__li {
  position: relative;
}
.nav__li:last-child {
  padding-right: 15px;
}
.nav__li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: -30px;
  padding: 0 12px;
  background-color: #fff;
  right: -12px;
}
.nav__li--clicked::before {
  background-color: #0065fc;
}
a.nav__a {
  color: #575757;
}

a.nav__a--clicked {
  color: #0065fc;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 155px;
}
.footer__container {
  width: 992px;
  padding: 0 35px;
}
