* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #222222;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  color: #000;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #222222;
}
a:active {
  color: #0065fc;
}
.full-height-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
}
.page {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 35px;
  background-color: #fff;
  flex: 1;
}
.page__content {
  width: 992px;
}
.header {
  height: 135px;
}
.logo-nav__container {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  width: 100%;
}
.logo {
  width: 48px;
  height: 32px;
}
.nav__ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 14px;
}
a.nav__a {
  color: #575757;
}

a.nav__a--clicked {
  color: #0065fc;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 155px;
}
.footer__container {
  width: 992px;
  padding: 0 35px;
}
