* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #575757;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  color: #050505;
  font-weight: 800;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
p {
  color: #575757;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #575757;
  font-weight: 600;
}
.fas {
  font-size: 13px;
  color: #575757;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.full-height-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
}
.page {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  flex: 1;
}
.page__content {
  padding: 0 35px;
  width: 992px;
}
.header {
  height: 135px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.logo-nav__container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  width: 100%;
}
.logo {
  width: 45px;
  height: 29px;
}

.nav__ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 11px;
}
.nav__li {
  position: relative;
}
.nav__li:last-child {
  padding-right: 15px;
}
.nav__li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: -32px;
  padding: 0 12px;
  background-color: #fff;
  right: -12px;
}
.nav__li--clicked::before {
  background-color: #0065fc;
}
a.nav__a {
  color: #575757;
}

a.nav__a--clicked {
  color: #0065fc;
}
.title__p {
  padding-top: 6px;
}
.search {
  display: flex;
  flex-direction: column;
}
.search__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search__button {
  display: flex;
  height: 35px;
  max-width: 265px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.search__input {
  border: none;
  height: 35px;
  width: 165px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-left: -4px;
  padding: 0 13px;
  font-weight: 800;
  font-size: 12px;
}
.search__icon {
  background-color: #f2f2f2;
  width: 35px;
  height: 35px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.search__submit {
  border: none;
  background-color: #0065fc;
  color: white;
  width: 67px;
  height: 35px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  font-weight: 800;
  font-size: 12px;
}
.form__checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 11px;
}
.checkbox__title {
  font-size: 13px;
  font-weight: 800;
}
.checkbox__inputs-container {
  display: flex;
  gap: 13px;
}
.checkbox__input-label-container {
  display: flex;
  /* width: 113px; */
  height: 34px;
  align-items: center;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 30px;
}
.checkbox__new-input {
  width: 34px;
  height: 34px;
  background-color: #deebff;
  border: none;
  border-radius: 50%;
}
.checkbox__label {
  /* width: 79px; */
  height: 34px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 10px;
  font-weight: 800;
  font-size: 12px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 155px;
}
.footer__container {
  width: 992px;
  padding: 0 35px;
}
